{% extends "base.html" %}
{% block content %}
<h2 class="mb-4">Register</h2>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}





<form action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <p>
      {{ form.username.label }}<br>
      {{ form.username(size=32) }}
  </p>
  <p>
      {{ form.password.label }}<br>
      {{ form.password(size=32) }}
  </p>
  <p>
    {{ form.comPass.label }}<br>
    {{ form.comPass(size=32) }}
  </p>

  <p>{{ form.submit() }}</p>
</form>




{% endblock %}